<a href="https://colab.research.google.com/github/Sreya18/ML_Training/blob/main/Demo/3rd_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Python automatically converts the variable's datatype
a=23   #int
print(type(a))
b=3.0  #float
print(type(b))
c=a+b  #float addition
print(c)
print(type(c))
d=a*b  #float multiplication
print(d)
print(type(d))

<class 'int'>
<class 'float'>
26.0
<class 'float'>
69.0
<class 'float'>

In [ ]:
price=input("Enter the price: ")
try:
    price=float(price)
    print('Prince =',price)
except ValueError:
    print('Not a number!')

Enter the price: 10
Prince = 10.0

In [ ]:
price=input("Enter the price: ")
try:
    price=float(price)
    print('Prince =',price)
except ValueError:
    print('Not a number!')

Enter the price: hi
Not a number!

# to avoid code crash of a wrong i/p, we use exception handeling, try and except

In [ ]:
price=input("Enter the price: ")
price=float(price)
print('Price =',price)
print('Not a number!')

Enter the price: 10
Prince = 10.0
Not a number!

In [ ]:
price=input("Enter the price: ")
price=float(price)
print('Price =',price)
print('Not a number!')

Enter the price: hi

ValueError: could not convert string to float: 'hi'

# program crashes for a wrong input

In [ ]:
c='hi'+str(10)
print(c)

hi10

In [ ]:
price=input("Enter the price: ")
print(type(price))
price=int(price)
print('Price =',price)
print(type(price))

Enter the price: 10
<class 'str'>
Price = 10
<class 'int'>

In [ ]:
highest=0
for value in [9,41,12,3,74,15]:
  if value>highest:
    highest=value
print('highest',highest)

highest 74

In [ ]:
smallest=None
list = [9,41,12,3,74,15]
for value in list:
  if smallest is None:
    smallest=value
  elif value<smallest:
    smallest=value
print('smallest',smallest)

smallest 3

In [ ]:
def average(num):
  total=0
  for i in num:
    total=total+i
  avg=total/len(num)
  return avg,total
def main():
  prices=[29,21,31,876,98,56,532,1255,5634,9856,768]
  result,total=average(prices)
  print(total)
  print(result)
main()

19156
1741.4545454545455

In [ ]:
def average(num):
  total=0
  for i in num:
    total=total+i
  avg=total/len(num)
  return avg
def main():
  prices=[29,21,31,876,98,56,532,1255,5634,9856,768]
  result=average(prices)
  print(order_goal)
  print(result)
order_goal=1712
main()

1712
1741.4545454545455

In [ ]:
# Write one generic function to find the nth highest in a list

def highest(num,rank):
  highest=0
  rank=int(rank)
  for value in num:
    if value>highest:
      highest=value
  
  for i in range(1,rank):
    a=0
    for j in num:
      if (j>a and j<highest):
        a=j
        high=a
    highest=high
  return high
def main():
  prices=[5,4,3,8,9,7]
  n=input('Rank: ')
  result=highest(prices,n)
  print('highest %s = %s'%(n,result))
main()

Rank: 4
highest 4 = 5