<a href="https://colab.research.google.com/github/Sreya18/ML_Training/blob/main/Demo/Print_Formatting_with_Placeholders.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Formatting with placeholders

We can use %s to insert strings into the print statements. The modulo % is referres to as a "string formatting operator".

In [ ]:
print("Name - %s."%'Sreya Lenka')

Name - Sreya Lenka.

We can pass multiple by placing them inside a tuple after the % operator.

In [ ]:
print("Name - %s and Roll No. - %s." %('Sreya Lenka','1905645'))

Name - Sreya Lenka and Roll No. - 1905645.

We can pass variable names:

In [ ]:
x,y = 'Ravi', 'Sunidhi'
print("His name is %s and her name is %s." %(x,y))

His name is Ravi and her name is Sunidhi.

# Format conversion methods

2 methods- %s and %r. these can convert python objects to a string using two separate methods:str() and rept().
%s is used to insert a string. and %r is used to insert a string in a particular format.

In [ ]:
print("He said his name was %s." %'Fred')
print("He said his name was %r." %'Fred')

He said his name was Fred.
He said his name was 'Fred'.

In [ ]:
print("I once caught a fish %s."%'this \t big')
print("I once caught a fish %r."%'this \t big')

I once caught a fish this 	 big.
I once caught a fish 'this \t big'.

%s converts whatever it sees into a string, including integers & floats.
%d operator converts numbers to integers 1st, w/o rounding.

In [ ]:
print("I wrote %s programs today." %4.7)
print("I wrote %d programs today." %4.7)

I wrote 4.7 programs today.
I wrote 4 programs today.

# Padding and Precision of Floating Point Numbers

Floating point nos. use the format %5.2f.
5 would be min. no. of characters the string contains; these may be padded with whitespace if the entire no. doesn't have 5 digits.
.2f stands for how many nos. it will show after the decimal point.

In [ ]:
print("Floating point nos.: %5.2f" %(34.768))

Floating point nos.: 34.77

In [ ]:
print("Floating point nos.: %1.0f" %(34.768))

Floating point nos.: 35

In [ ]:
print("Floating point nos.: %1.5f" %(34.768))

Floating point nos.: 34.76800

In [ ]:
print("Floating point nos.: %8.1f" %(34.768))

Floating point nos.:     34.8

In [ ]:
print("Floating point nos.: %10.7f" %(34.768))

Floating point nos.: 34.7680000

# Multiple Formatting

In [ ]:
print("1st: %s , 2nd: %r , 3rd: %5.2f " %('hi!','bye!', 3.144))

1st: hi! , 2nd: 'bye!' , 3rd:  3.14

# Formatting with the .format() method

Syntax: 'String here {} then also {}'.format('something1','something2')

In [ ]:
print("Name : {}".format('Sreya Lenka'))

Name : Sreya Lenka

# Advantages of .format() method over %s

1.Inserted objects can be called by index position

In [ ]:
print("Name: {2}, Roll no.: {0}, Branch: {1}".format('1905645','CSE','Sreya Lenka'))

Name: Sreya Lenka, Roll no.: 1905645, Branch: CSE

2.Inserted objects can be assigned keywords

In [ ]:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))

First Object: 1, Second Object: Two, Third Object: 12.3

3.Inserted objects can be reused, avoiding duplication

In [ ]:
print('A %s saved is a %s earned.' %('penny','penny'))
# vs.
print('A {p} saved is a {p} earned.'.format(p='penny'))

A penny saved is a penny earned.
A penny saved is a penny earned.

# Formatted String Literals(f-strings)

Introduced in Python 3.6, f-strings offer several benefits over the older .format() string method described above. For one, you can bring outside variables immediately into to the string rather than pass them as arguments through .format(var).

In [ ]:
name='Sreya'
print(f"My name is {name}. ")

My name is Sreya.

We can pass !r to get string representation

In [ ]:
print(f"My name is {name!r}. ")

My name is 'Sreya'.

float formatting follows "result: {value:{width}.{precision}}"

Where with the .format() method you might see {value:10.4f}, with f-strings this can become {value:{10}.{6}}

In [ ]:
num = 54.7869
print("My 10 character, four decimal number is:{0:9.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{9}.{6}}")

My 10 character, four decimal number is:  54.7869
My 10 character, four decimal number is:  54.7869

f-strings, precision refers to the total number of digits, not just those following the decimal. 
 
f-strings do not pad to the right of the decimal, even if precision allows it:

In [ ]:
num = 54.78
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   54.7800
My 10 character, four decimal number is:     54.78

If padding after decimal becomes important, we can always use .format() method syntax inside an f-string:

In [1]:
num = 54.78
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:10.4f}")

My 10 character, four decimal number is:   54.7800
My 10 character, four decimal number is:   54.7800